.timer {
    position: absolute;
    right: 0;
    font-size: 24px;
    font-weight: bold;
    color: black;
    right: 720px;
}

.timer:first-child {
    top: 0;
}

.timer:last-child {
    bottom: 0;
}

