.username {
    position: absolute;
    right: 0;
    font-size: 24px;
    font-weight: bold;
    color: black;
    right: 1200px;
}

/*.username:first-child {
    top: 0;
}

.username:last-child {
    bottom: 0;
}
*/

.avatar {
    position: absolute;
    left: -40px;
    width: 40px;
    height: 40px;
}

.piece-image {
    position: absolute;
    top: 5%;
    right: -50px;
    width: 40px;
    height: 40px;
}

.player-name {
    margin-left: 10px;
}

.username.red {
    top: 0;
}

.username.black {
    bottom: 0;
}