.username-container {
    display: flex;
}

.username {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    margin-right: 20px;
}

.avatar {
    width: 24px;
    height: 24px;
    margin-right: 8px;
    background-size: cover;
}

.player1 {
    background-image: url('/public/assets/PlayerAvatar.png');
}

.player2 {  
    background-image: url('/public/assets/PlayerAvatar.png');
}

.red {
    color: red;
}

.black {
    color: black;
}